:root {
  --font-size: 10px;
  --font-family: "Segoe UI", sans-serif;
  --gap: 20px;
  --primary-color: #A59984;
  --secondary-color: #332B28;
  --text-color-positive: #333333;
  --text-color-negative: #EFDBB7;
  --bg-secondary: #FBF3E4;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1200px;
  padding-left: var(--gap);
  padding-right: var(--gap);
  column-gap: var(--gap);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  & div[class^="col-"] {
    flex: 1 0 0;
  }
}
.col-4 {
  max-width: 386.66666666666666666666666666667px;
}
.col-5 {
  max-width: 488px;
}
.col-6 {
  max-width: 590px; 
}
.col-8 {
  max-width: 794px;
}
.img-fluid {
  display: block;
  max-width: 100%;
}
.d-flex {
  display: flex;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}
.gap-10 {
  row-gap: 10px;
}
.gap-20 {
  row-gap: var(--gap);
}
.gap-40 {
  gap: 40px;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.text-align-center {
  text-align: center;
}

main {
  background: var(--secondary-color) url(assets/frente-predio.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 4rem;
  overflow-y: hidden;
  padding-bottom: 7rem;
  & .ebook__title {
    display: flex;
    column-gap: var(--gap);
    align-items: center;
    margin-bottom: 3rem;
    & strong {
      text-transform: uppercase;
      font-size: 1.4rem;
        & span {
        font-weight: 200;
      }
    }
  }
  & .main-price {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    & em {
      color: var(--text-color-negative);
      font-style: normal;
    }
  }
}
.ball-ref {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 467px;
    height: 467px;
    background: var(--primary-color);
    filter: blur(120px);
    z-index: -1;
    opacity: .6;
  }
}
section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  &.who {
    iframe {
      border-radius: 20px;
    }
  }
  &.about-ebook, &.questions {
    background: var(--bg-secondary);
  }
  &.about-daniela {
    background: var(--secondary-color) url(./assets/bg-building.jpg) no-repeat top center;
    background-size: cover;
    color: white;
    padding-bottom: 0;
  }
  &.testimonials {
    background-color: var(--primary-color);
    & h2, h2 + p, h2 + p > a {
      color: var(--text-color-negative);
    }
    & .card {
      background: var(--bg-secondary);
      border-color: var(--text-color-negative);
      height: fit-content;
      & h3 {
        font-size: 2rem;
      }
      & p {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }
  &#buy {
      & .container {
        column-gap: 8rem;
      }
    }
}
h1 {
  font-size: 6rem;
  font-weight: 100;
  line-height: 1.2;
  & strong {
    font-weight: 700;
    color: var(--primary-color);
    background: linear-gradient(90deg, var(--text-color-negative), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

h2 {
  font-size: 4.4rem;
  font-weight: 200;
  line-height: 1.2;
  & strong {
    font-weight: 700;
  }
}
h3 {
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2;
}

p, li {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.4;
}
.btn-group {
  display: flex;
  column-gap: var(--gap);
}
.btn {
  border: 1px solid transparent;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 60px;
  display: inline-block;
  text-align: center;
  &__primary {
    background: #FBDA9D;
    background: linear-gradient(180deg, #FBDA9D 0%, #B3A58B 100%);
    transition: all .2s ease;
    color: var(--text-color-positive);
    &:hover, &:focus {
      background: linear-gradient(180deg, #B3A58B 0%, #FBDA9D 100%);
      transition: all .2s ease;
    }
  }
  &__ghost {
    border-color: var(--primary-color);
    color: var(--text-color-negative);
    background: transparent;
    transition: all .2s ease;
    &:hover, &:focus {
      background: var(--text-color-negative);
      color: var(--text-color-positive);
      transition: all .2s ease;
    }
  }
}
.text-color-positive {
  color: var(--primary-color);
}
.text-color-negative {
  color: white;
}

.card {
  border: 1px solid var(--primary-color);
  padding: 3.2rem;
  border-radius: 12px;
  display: flex;
  align-items: start;
  & img {
    max-height: 48px;
  }
  &__buy, &__price-box {
    flex-direction: column;
    row-gap: var(--gap);
    display: flex;
  }
  &__buy {
    & ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: .4rem;
      align-items: center;
      list-style: none;
      & li {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        &:before {
          content: url(./assets/icon-check-green.svg);
          display: inline-block;
          margin-right: 1.6rem;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  &__price-box {
    &__call {
      font-size: 2.2rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: -3rem;
    }
    &__price {
      color: var(--primary-color);
      font-size: 8rem;
      font-weight: 400;
      & span {
        font-size: 3rem;
        font-weight: 200;
        display: inline-block;
        &:last-child {
          transform: translateY(-30px);
        }
      }
    }
  }
}
details {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-bottom: 1px solid var(--primary-color);
  &[open] {
    & summary {
      &::marker {
        color: var(--primary-color);
      }
    }
  }
  & summary {
    cursor: pointer;
    list-style-position: outside;
    padding-left: 10px; /* Space between marker and text */
    margin-left: 15px;  /* Moves the entire marker and text block */
    font-weight: 300;
    font-size: 2.4rem;
    &::marker {
      font-size: 1.5rem;
    }
  }
  & p {
    font-size: 1.8rem;
    & + p {
      margin-top: 1rem;
    }
    & a {
      color: var(--primary-color);
      font-weight: 400;
    }
  }
}
footer {
  padding: 3rem 0;
  background: var(--primary-color);
  color: white;
  font-size: 1.8rem;
  & small {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 991px) {
  p {
    font-size: 1.8rem;
  }
  .btn-group {
    flex-direction: column;
    row-gap: 1rem;
  }
  .btn {
    padding: 1.2rem 3.2rem;
    font-size: 1.6rem;
    width: 100%;
  }
  main {
    margin-top: 0;
    text-align: center;
    & .container {
      flex-direction: column;
      row-gap: 4rem;
      align-items: center;
      & .main-price {
        font-size: 1.8rem;
      }
      .ball-ref {
        & img {
          max-width: 400px;
        }
      }
      & .ebook__title {
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;
        margin-bottom: 1rem;
        & img {
          max-width: 30px;
        }
      }
      & h1 {
        font-size: 3.5rem;
      }
    }
  }
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    &.about-daniela {
      & .container {
        flex-direction: column;
        row-gap: 4rem;
      }
    }
    &.questions {
      text-align: left;
    }
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .container:has(.card) {
    flex-direction: column;
    row-gap: var(--gap);
    align-items: center;
  }
  .card {
    align-items: center;
    padding: 2.4rem;
    &__buy {
      & ul {
        row-gap: 0.2rem;
        & li {
          font-size: 1.6rem;
        }
      }
    }
    &__price-box {
      &__price {
        font-size: 6rem;
        & span:last-child {
          transform: translateY(-20px);
        }
      }
    }
    & img {
      max-width: 3.5rem;
    }
  }
  details {
    & summary {
      font-size: 1.8rem;
    }
    & p {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 460px) {
  main {
    & .container {
      & .ball-ref {
        & img {
          max-width: 100%;
        }
      }
    }
  }
}
